* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border: 1px solid green; 
    font-family: sans-serif;
}

p { 
    font-size: 1.3rem; 
}

button { 
    outline: none; 
    background-color: black;
    color: white;
    font-size: 1.3rem;
}

.outer-container { 
    padding: 10px; 
}

.bar p {
    float: right;
}