* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: sans-serif;
}



body { 
    background-color: rgb(164, 105, 218);
    padding: 0; 
    margin: 0; 
}

p { 
    font-size: 1.3rem; 
}

button { 
    outline: none; 
    font-size: 1.3rem;
}

h1, h2 { 
    color: pink; 
    text-align: center;
}

li { 
    list-style: none;
}

.outer-container { 
    padding: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: start;
}

.bar p {
    float: right;
}


.inner-container { 
    width: 50%; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
}

.quiz-header { 
    margin-bottom: 15vh; 
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    box-shadow: 0 0 10px 2px; 
}

.quiz-header p { 
    text-align: center;
}

.quiz-header button { 
    display: block; 
    margin: 0 auto; 

}

.btn { 
    background-color: palevioletred; 
    outline: none; 
}

.btn:hover { 
    border-color:black; 
}

.hide { 
    display: none; 
}